<!doctype html>

<div class="container" id="public">
  <div class="row">
    <div class="col-md-8">

      <h2>13. Bremer Spiele-Tage – Flohmarkt</h2>

      <!-- <div class="alert alert-warning" role="alert"> <h4 class="alert-heading">Testbetrieb<img src="img/icons/error.png" class="float-right"/></h4> <p> Wir befinden uns aktuell im Testbetrieb.<br/>Nach Beendigung des Testbetriebs werden
      <strong>alle</strong> eingetragenen <strong>Daten und Accounts gelöscht</strong>! </p> </div> -->

      <p>
        Wenn du auf dem Spiele-Flohmarkt der 13. Bremer Spiele-Tage am 07. und 08. März 2020 deine Spiele zum Verkauf abgeben möchtest, musst du vorher alle Spiele in dieser Datenbank eingeben. Die Anzahl der abzugebenden Spiele ist begrenzt (siehe unten).
      </p>

      <p>
        Die Daten werden nur im Zusammenhang mit dem Verkauf auf dem Flohmarkt der 13. Bremer Spiele-Tage genutzt. Alle Eingaben und Konten werden drei Monate nach der Veranstaltung gelöscht. Daher ist jedes Jahr eine neue Registrierung erforderlich.
      </p>

      <p>
        Im ersten Schritt musst Du Dich registrieren. Es wird ein Passwort an die von Dir angegebene Mailadresse gesendet. Melde Dich dann mit der Mailadresse und dem Passwort an.
      </p>

      <p>
        Nach der ersten Anmeldung wird für Dich sofort ein Kontingent von 10 Spielen freigegeben. Möchtest Du mehr Spiele abgeben, kannst Du nach der Anmeldung ein Wunschkontingent angeben. Je nach Verfügbarkeit erhältst Du - spätestens am Folgetag - eine
        Freigabe für weitere Spiele (Maximum zunächst 100 Spiele, kann später ggf. angepasst werden). Für alle Freigaben gilt: Die Eingabe muss bis zum mitgeteilten Zeitpunkt erfolgen, anschließend sinkt die Freigabe auf die bis zu dem vorgegebenen Zeitpunkt
        eingegebene Anzahl an Spielen.
      </p>

      <p>
        Dieses Verfahren ist verbindlich für alle Verkäufer*innen. Die richtig gekennzeichneten Spiele und weiteren Unterlagen sind am 6.3.20 (Fr.), zwischen 17 und 19 Uhr in der Bremer VHS (Raum 405) abzugeben. Am Samstag oder Sonntag nehmen wir nur noch
        bis zu 10 Spiele pro Person an - sofern genügend Platz auf dem Flohmarkt ist.
      </p>

      <p>
        Bei Fragen kannst Du an spiele@vhs-bremen.de wenden.
      </p>

      <p>
        Eine Beschreibung für die Eingabe, das weitere Verfahren und alle anderen wichtigen Punkte/Regeln findest Du
        <a href="http://www.bremerspieletage.de/index.php/flohmarkt" target="_blank">hier</a>.
      </p>

    </div>
    <div class="col-md-4">

      <div class="card border-dark" style="width: 20rem;" id="loginContainer">
        <h4 class="card-header border-dark text-white bg-primary">{{ login.title }}</h4>
        <div class="card-body">
          <div class="form-group">
            <input type="email" class="form-control" id="loginMail" placeholder="{{ login.mail }}" data-toggle="tooltip" data-placement="left" title="{{ login.mail }}:">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="loginPassword" placeholder="{{ login.password }}" data-toggle="tooltip" data-placement="left" title="{{ login.password }}:">
          </div>
          <button type="submit" class="btn btn-primary btn-sm" id="loginButton">{{ login.submit }}</button>
          <button type="submit" class="btn btn-default btn-sm" id="loginRemindButton" style="display:none">{{ login.remind }}</button>
        </div>
      </div>

      <p></p>

      <div class="card border-dark" style="width: 20rem;" id="registerContainer">
        <h4 class="card-header border-dark text-white bg-success">{{ register.title }}</h4>
        <div class="card-body">
          <div class="form-group">
            <input type="email" class="form-control" id="registerMail" placeholder="{{ register.mail }}" data-toggle="tooltip" data-placement="left" title="{{ register.mail }}:">
            <span class="invalid-feedback" id="registerMailText"></span>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="registerFirstName" placeholder="{{ register.name.first }}" data-toggle="tooltip" data-placement="left" title="{{ register.name.first }}:">
            <span class="invalid-feedback" id="registerFirstNameText"></span>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="registerLastName" placeholder="{{ register.name.last }}" data-toggle="tooltip" data-placement="left" title="{{ register.name.last }}:">
            <span class="invalid-feedback" id="registerLastNameText"></span>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="registerLimit" placeholder="{{ register.limit }}" data-toggle="tooltip" data-placement="left" title="{{ register.limit }}:">
            <span class="invalid-feedback" id="registerLimitText"></span>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="registerContract">
            <label class="form-check-label" id="registerContractText" for="registerContract">{{ register.contract|raw }}</label>
          </div>
          <button type="submit" class="btn btn-success btn-sm" id="registerButton">{{ register.submit }}</button>
          <button type="submit" class="btn btn-default btn-sm" id="registerRemindButton" style="display:none">{{ login.remind }}</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="modalContent">
      <!-- need to be loaded -->
    </div>
  </div>
</div>

<script>
  function doLogin() {
    $.post('{{ backend.url.auth }}', {
      mail: $('#loginMail').val(),
      password: $('#loginPassword').val()
    }, function(data) {
      if (data.login) {
        if (data.admin) {
          adminIsLoggendIn();
          loadContent('statistic');
        } else {
          userIsLoggedIn();
          loadContent('itemManager');
        }
      } else {
        $('#loginMail').addClass('is-invalid');
        $('#loginPassword').addClass('is-invalid');
        if (data.mail === 'valid') {
          $('#loginRemindButton').show();
        }
      }
    }, 'json');
  }

  function doRemindByLogin() {
    doRemind('loginMail');
  }

  function doRemindByRegister() {
    doRemind('registerMail');
  }

  function doRemind(mailInputId) {
    $.post('{{ backend.url.remind }}', {
      mail: $('#' + mailInputId).val()
    }, function(data) {

      if (data.mailed) {
        $('#modalContent').load('{{ frontend.modal.info }}/remind/success');
      } else {
        $('#modalContent').load('{{ frontend.modal.info }}/remind/error');
      }

      $('#modal').modal('show');

    }, 'json');
  }

  function doRegister() {
    $.post('{{ backend.url.seller }}', {
      mail: $('#registerMail').val(),
      firstName: $('#registerFirstName').val(),
      lastName: $('#registerLastName').val(),
      limit: $('#registerLimit').val(),
      contract: $('#registerContract').prop('checked')
    }, function(data) {

      if (data.valid) {

        $('#registerMail').val('');
        $('#registerFirstName').val('');
        $('#registerLastName').val('');
        $('#registerLimit').val('');
        $('#registerContract').prop('checked', false);

        if (data.mailed) {
          $('#modalContent').load('{{ frontend.modal.info }}/register/success');
        } else {
          $('#modalContent').load('{{ frontend.modal.info }}/register/error');
        }

        $('#modal').modal('show');

      } else {

        if (data.mail === 'invalid') {
          $('#registerMail').addClass('is-invalid');
          $('#registerMail').removeClass('is-valid');
          $('#registerMailText').text('{{ register.invalid.mail }}');
        } else if (data.mail === 'exists') {
          $('#registerMail').addClass('is-invalid');
          $('#registerMail').removeClass('is-valid');
          $('#registerMailText').text('{{ register.exists.mail }}');
          $('#registerRemindButton').show();
        } else {
          $('#registerMail').addClass('is-valid');
          $('#registerMail').removeClass('is-invalid');
          $('#registerMailText').text('');
        }

        if (data.firstName === 'invalid') {
          $('#registerFirstName').addClass('is-invalid');
          $('#registerFirstName').removeClass('is-valid');
          $('#registerFirstNameText').text('{{ register.invalid.name.first }}');
        } else {
          $('#registerFirstName').addClass('is-valid');
          $('#registerFirstName').removeClass('is-invalid');
          $('#registerFirstNameText').text('');
        }

        if (data.lastName === 'invalid') {
          $('#registerLastName').addClass('is-invalid');
          $('#registerLastName').removeClass('is-valid');
          $('#registerLastNameText').text('{{ register.invalid.name.last }}');
        } else {
          $('#registerLastName').addClass('is-valid');
          $('#registerLastName').removeClass('is-invalid');
          $('#registerLastNameText').text('');
        }

        if (data.limit === 'invalid') {
          $('#registerLimit').addClass('is-invalid');
          $('#registerLimit').removeClass('is-valid');
          $('#registerLimitText').text('{{ register.invalid.limit }}');
        } else {
          $('#registerLimit').addClass('is-valid');
          $('#registerLimit').removeClass('is-invalid');
          $('#registerLimitText').text('');
        }

        if (data.contract === 'invalid') {
          $('#registerContract').addClass('is-invalid');
          $('#registerContract').removeClass('is-valid');
        } else {
          $('#registerContract').addClass('is-valid');
          $('#registerContract').removeClass('is-invalid');
        }

      }
    }, 'json');
  }

  function doLoginByEnter(e) {
    if (e.which == 13) {
      doLogin();
    }
  }

  function doRegisterByEnter(e) {
    if (e.which == 13) {
      doRegister();
    }
  }

  $('#loginButton').on('click', doLogin);
  $('#registerButton').on('click', doRegister);

  $('#loginRemindButton').on('click', doRemindByLogin);
  $('#loginRemindButton').hide();

  $('#registerRemindButton').on('click', doRemindByRegister);
  $('#registerRemindButton').hide();

  $('#loginMail').keypress(doLoginByEnter);
  $('#loginPassword').keypress(doLoginByEnter);

  $('#registerMail').keypress(doRegisterByEnter);
  $('#registerFirstName').keypress(doRegisterByEnter);
  $('#registerLastName').keypress(doRegisterByEnter);
  $('#registerLimit').keypress(doRegisterByEnter);
  $('#registerContract').keypress(doRegisterByEnter);

  $('[data-toggle="tooltip"]').tooltip();
</script>